@import "node_modules/spectre.css/src/spectre";

dl {
  dd+dt {
    margin: 0.8em 0 0;
  }
  dd {
    margin: 0;
  }

}

.Application {
  .container {
    width: 100%;
    max-width: 60em;
    margin: auto;
  }

  &-header {
    padding: 1em;
    box-shadow: 0 0 15px #333;
    background: #f9f9f9;

    .navbar-brand {
      margin-right: 2em;
    }
  }

  &-main {
    padding: 3em;
    background: transparent;
    @media(max-width: 800px) {
      padding: 3em 0;
    }
  }
}

.PageHeader {
  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem;
}

.RouteBooking {
  &-containers {
    overflow-x: auto;
  }
}

.RouteIndex {
  @media(max-width: 600px) {
    &-favorites-title {
      display: none;
    }
  }
}

.FavoritesList {
  list-style-type: none;
  &-item {
    @media(max-width: 600px) {
      display: inline-block;
      margin: 0 0.5em;
    }

    &:before {
      font-family: 'FontAwesome';
      content: '\f138';
      margin-right: 0.5em;
    }
  }
}
